################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part

[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/distfiles/zlib-1.2.6.tar.bz2
md5sum =dc2cfa0d2313ca77224b4d932b2911e9

pre-configure-hook=${buildout:directory}/h.py:x64
pre-make-hook=${buildout:directory}/h.py:x64r
post-make-hook=${buildout:directory}/h.py:p
configure-options=--shared
make-options-win=-fwin32/Makefile.gcc CFLAGS="$CFLAGS -I.."
noconfigure-win=true
noinstall-win=true
patches-cygwin=${buildout:directory}/cygwin.patch
patch-options=-Np1


[mirrors]
gentoo= gentoo.tiscali.nl

